<h1>Oauth 2.0 Server</h1>

<ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Log out</a></li>
    <li><a href="/account">Account</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/api/userinfo">/api/userinfo</a></li>
    <li><a href="/api/clientinfo">/api/clientinfo</a></li>
    <li><a href="/protected-endpoint">/api/protected-endpoint</a></li>
</ul>